<% include ../views/partials/header %>

<h3>Delete A Symtom</h3>
<form method = "POST" action ="/relationship/deleteS">
    <input type = "text" name = "name1" placeholder= Symtom Name" >
    <input type = "submit" value = "Submit">
</form>

<% include ../views/partials/footer %>
