<% include ../views/partials/header %>

<h3> A Symtom Of:</h3>
<ul>
    <% tl.forEach(function(symtom){ %>
        <li><%= symtom.name %></li>
    <% }) %>
</ul>

<% include ../views/partials/footer %>